.showDateTable {
    .form-group {          
        label{
            &.smText {
                position: relative;
                span {
                    position: absolute;
                    right: -10px !important;
                    top: -4px;
                }
            }
        }
    }
}