.assignPopContent{

    .stallControll {
        .ng-star-inserted {
            display: flex;
            &.roundBtn {
                width: 120px;
                margin: 0 auto;
                text-align: center;
                justify-content: center;
                &:hover{
                    color:#fff;
                }
            }
            .dwnFile {
                .checkmark {
                    padding: 5px 0 4px 50px;
                }
            }
        }
    }
    .moveField {
        max-width: 350px;
        margin: 0 auto 20px;
        input {
            width: 100%;
            padding: 11px 10px;
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
        }
     
    }
    
}

::ng-deep.mat-datepicker-toggle-default-icon {
    width: 20px !important;
    right: 10px;
}

.btnSpace {
    .roundBtn {
        margin: 0 5px;
    }
}

.moveField{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column ;
    text-align: center !important;
    
}
