<div class="headerBlueStrip"></div>
<div class="loginWrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commonCol text-center">
                    <a href="#" class="logoSection text-center">
                        <img src="assets/images/logo-1.png" alt="image" class="img-fluid"/>
                    </a>
                    <form #forgotPasswordForm="ngForm" name="forgotPasswordForm"
                    (ngSubmit)="forgotPasswordForm.valid && submit(forgotPasswordForm)" novalidate class="loginField">
                        <div class="form-group emailIcon mb-0">
                            <input type="text" class="form-control" [ngClass]= "{'disable' : disable}" placeholder="Enter Email Address" id="email"
                                    name="email" #email="ngModel"
                                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                    [(ngModel)]="forgotFormData.email" required>
                                <span class="faIcon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <span class="help-block" *ngIf="email.errors?.required && forgotPasswordForm.submitted">Email is
                                    required</span>
                                <span class="help-block" *ngIf="email.errors?.pattern">Email is
                                    invalid</span>
                        </div>
                        <div class="form-group text-right">
                            <a [routerLink]="['/login']">Back to Login <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="form-group mb-0">
                            <button [ngClass]= "{'disable' : disable}" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>
<footer class="loginFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commonCol text-center">
                    <ul class="footerLink">
                        <li><a href="#">Red<span>G</span>ware, LLC</a></li>
                        <li>© 2020 - 2030</li>
                        <li><a href="#">All Rights Reserved</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

