<div class="headerBlueStrip"></div>
<div class="loginWrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commonCol text-center">
                    <a href="#" class="logoSection text-center">
                        <img src="assets/images/logo-1.png" alt="image" class="img-fluid"/>
                    </a>
                    <form class="loginField" #resetPasswordForm="ngForm" name="resetPasswordForm"
                    (ngSubmit)="resetPasswordForm.valid && submit(resetPasswordForm)" novalidate>
                        <div class="form-group passIcon">
                            <input type="password" [ngClass]= "{'disable' : disable}" class="form-control" placeholder="Enter Password" id="password"
                            name="password" #password="ngModel" [(ngModel)]="resetPasswordData.password" minlength="8"
                            required>
                            <span class="faIcon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <span class="help-block" *ngIf="password.errors?.required && resetPasswordForm.submitted" >Password is
                            required</span>    
                            <span class="help-block" *ngIf="password.errors?.minlength">Password must be at least
                                8 characters</span>                         
                        </div>
                        <div class="form-group passIcon">
                            <input type="password" [ngClass]= "{'disable' : disable}" class="form-control" placeholder="Enter Confirm Password"
                            id="newPassword" name="newPassword" appConfirmEqualValidator="password"
                            #newPassword="ngModel" [(ngModel)]="resetPasswordData.newPassword" required>
                            <span class="faIcon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <span class="help-block" *ngIf="newPassword.errors?.required && resetPasswordForm.submitted ">Confirm Password is
                            required</span>
                        <span class="help-block" *ngIf="newPassword.errors?.notEqual">
                            Passwords do not match
                        </span>                                     
                        </div>
                        <div class="form-group text-right">
                            <a [routerLink]="['/login']">Back to Login <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="form-group mb-0">
                            <button [ngClass]= "{'disable' : disable}" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</div>
<footer class="loginFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commonCol text-center">
                    <ul class="footerLink">
                        <li><a href="#">Red<span>G</span>ware, LLC</a></li>
                        <li>© 2020 - 2030</li>
                        <li><a href="#">All Rights Reserved</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

